// specification: https://www.google.com/design/spec/components/buttons.html

.typo-button(@colorContrast: false) {
  font-size: @mdb-btn-font-size-base;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-weight: bold;

  & when (@colorContrast) {
    opacity: 0.87;
  }
}

// mdb default buttons are flat by default
// synchronized with mdl 11/23/15
.btn {
  border: none;
  border-radius: @border-radius-base;
  position: relative;
  min-width: 88px;
  height: @smd-btn-height;
  padding: 9px 8px 7px;
  margin: 8px 4px;

  .typo-button();
  will-change: box-shadow, transform;
  transition: box-shadow 0.2s @mdb-animation-curve-fast-out-linear-in,
  background-color 0.2s @mdb-animation-curve-default,
  color 0.2s @mdb-animation-curve-default;
  outline: 0;
  cursor: pointer;
  text-decoration: none;

  &::-moz-focus-inner {
    border: 0;
  }

  //---
  // btn-flat
  background: transparent;

  &:not(.disabled),
  &:not(.btn-raised) {
    .variations(~".btn", ~"", color, @smd-text-color-primary);
    box-shadow: none;

    &:hover,
    &:focus {
      outline: none;
      background-color: @concrete;
    }
  }

  //--
  // color variations
  &.btn-raised {
    .background-variations(~".btn", ~"", @mdb-btn-background-color, @mdb-btn-background-color-hover);
  }

  //---
  // btn-raised
  &.btn-raised {
    .shadow-2dp();
    max-width: 150px;
    padding: 10px 16px 6px;

    // colors on hover, focus, active
    &:hover,
    &:focus,
    &:active {
      outline: 0;
    }

    // shadow on active
    &:focus,
    &:active {
      &,
      &:hover {
        .shadow-4dp();
      }
    }
  }

  // Two tier buttons
  &.btn-two-tier {
    max-width: 200px;
    padding: 5px 16px;
    font-size: 12px;
    line-height: 1.17;
    white-space: normal;
    text-transform: capitalize;

  }

  // Disabled btn styles
  &.disabled {
    opacity: 1;
    box-shadow: none;

    &:not(.btn-raised){
      color: @silver;
    }

    &.btn-raised {
      background-color: @concrete;
      color: @silver;
    }
  }

  // Action Button
  &.btn-action {
    width: 36px;
    padding: 5px;
    margin: 0;
    color: @silver;
  }

  &.btn-close {
    padding: 5px;
    margin: 0;
  }

  &.btn-xs {
    min-width: 55px;
    height: 20px;
    padding: 4px 5px;
    font-size: @mdb-btn-font-size-xs;
  }

  &.btn-action,
  &.btn-close {
    min-width: auto;
  }
}

// btn-group variations
.btn-group,
.btn-group-vertical {

  position: relative;
  margin: 10px 1px;

  // spec: https://www.google.com/design/spec/components/buttons.html#buttons-toggle-buttons
  &.open {
    .dropdown-toggle {
      //box-shadow: none;
    }

    & > .dropdown-toggle.btn {
      .variations(~".btn", ~"", background-color, @mdb-btn-background-color);
    }
  }

  .dropdown-menu {
    border-radius: 0 0 @border-radius-base @border-radius-base;
  }

  &.btn-group-raised {
    .shadow-2dp();
  }

  & .btn + .btn,
  .btn,
  .btn:active,
  .btn-group {
    margin: 0;
  }
}
