.chip {
  display: inline-block;
  height: @smb-chip-height;
  font-size: 13px;
  color: @smb-chip-color;
  line-height: 32px;
  padding: 0 12px;
  border-radius: 16px;
  background-color: @smb-chip-bg-color;
  margin-bottom: @smb-chip-margin;
  margin-right: @smb-chip-margin;

  &-icon,
  > img {
    float: left;
    margin: 0 8px 0 -12px;
    height: @smb-chip-height;
    width: @smb-chip-height;
    border-radius: 50%;
  }

  &-icon {
    background: @smb-chip-icon-bg;
    text-align: center;
    color: @smb-chip-icon-color;
  }

  .close {
    cursor: pointer;
    float: right;
    font-size: 18px;
    line-height: @smb-chip-height;
    padding-left: 8px;
    color: @smb-chip-color-close;
    opacity: .5;
    margin-right: -4px;
  }

  &:hover,
  &:focus {
    .close {
      opacity: .7;
    }
  }
}
