// Modals
// Material Design element Dialogs

@media (min-width: 375px) {
  .modal-dialog {
    width: 355px;
    margin: 30px auto;
  }
}

.modal-responsive {
  .modal-open & {
    overflow: hidden;
  }

  .modal-dialog {
    height: 100%;
    margin: 0;
    width: 100%;
  }

  .modal-content {
    height: 100%;
    overflow: auto;
  }
}

@media (min-width: 840px) {
  .modal-open .modal-responsive {
    overflow: auto;
  }

  .modal-responsive .modal-dialog {
    height: auto;
    margin: 30px;
    width: auto;
  }
}

@media (min-width: (1024px + 60px)) {
  .modal-responsive .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
  }
}


.modal-content {
  .shadow-z-4();
  border: 0;
  border-radius: 0;
  background-color: @smd-modal-bg;
}

.modal-danger {
  background: @smd-modal-danger-bg;
  color: @smd-modal-danger-color;
  font-size: @smd-modal-danger-font-size;
  font-weight: bold;
  line-height: @smd-modal-danger-line-height;
  padding: @smd-modal-danger-padding-vert @smd-modal-padding-horiz;
  text-align: center;
  text-transform: uppercase;

  .material-icons {
    vertical-align: middle;
    margin-right: 10px;
  }
}

.modal-header {
  color: @smd-modal-header-color;
  border-bottom: none;
  padding: @smd-modal-header-padding-vert-top @smd-modal-padding-horiz @smd-modal-header-padding-vert-bottom;
  font-size: @smd-modal-header-font-size;
  font-weight: bold;
  line-height: @smd-modal-header-line-height;

  .close {
    color: @smd-modal-header-close-color;
    font-size: @smd-modal-header-close-size;
    font-weight: normal;
    height: @smd-modal-header-close-size;
    opacity: 1;
    text-shadow: none;
    width: @smd-modal-header-close-size;
  }

  &-primary {
    background: @smd-modal-header-primary-bg;
    color: @smd-modal-header-primary-color;

    .close {
      color: @smd-modal-header-primary-close-color;
    }
  }

  .modal-danger + & {
    color: @smd-modal-danger-title-color;
  }
}

.modal-title {
  font-size: @smd-modal-header-font-size;
  font-weight: bold;
  line-height: @smd-modal-header-line-height;
}

.modal-subheader {
  background: @smd-modal-subheader-bg;
  font-size: @smd-modal-subheader-font-size;
  font-weight: bold;
  line-height: @smd-modal-subheader-line-height;
  padding: @smd-modal-subheader-padding-vert @smd-modal-padding-horiz;

  & > * {
    margin: 0;
  }

  & > h5 {
    font-size: @smd-modal-subheader-font-size;
  }
}

.modal-body {
  padding: @smd-modal-body-padding-vert @smd-modal-padding-horiz;

  .modal-header + & {
    padding-top: 0;
  }

  .modal-header-primary + & {
    padding-top: @smd-modal-body-padding-vert;
  }
}

.modal-footer {
  border-top: none;
  padding: @smd-modal-footer-padding;

  .btn {
    margin: 0;
  }

  .btn + .btn {
    margin-left: @smd-modal-footer-buttons-margin;
  }

  &-stacked {
    padding: @smd-modal-footer-stacked-padding;

    .btn {
      clear: both;
      float: right;
      min-width: 0;
    }

    .btn + .btn {
      margin-left: 0;
      margin-top: @smd-modal-footer-buttons-margin;
    }
  }
}

.modal-backdrop {
  background: @smd-modal-backdrop-bg;

  &.in {
    opacity: 0.5;
  }
}
