//
// Dropdown menus
// --------------------------------------------------


// Dropdown arrow/caret
.caret {
  border-top:   5px dashed;
  border-top:   5px solid ~"\9"; // IE8
  border-right: 5px solid transparent;
  border-left:  5px solid transparent;

  .navbar & {
    margin-left: 20px;
    margin-top: 9px;
    float: right;
  }

  .open & {
    border-top: 0;
    border-bottom:   5px dashed;
    border-bottom:   5px solid ~"\9"; // IE8
    border-right: 5px solid transparent;
    border-left:  5px solid transparent;
  }
}


.dropdown {
  &.open {
    .dropdown-toggle:hover,
    .dropdown-toggle:focus,
    .dropdown-toggle {
      z-index: 1001;
      position: relative;
      padding-bottom: calc(~'(@{mdb-nav-link-padding}) - 1px');
      border-bottom-width: 1px;
      border-bottom-style: solid;
      border-color: @mdb-nav-border;
    }
  }
}

.dropdown-toggle {
  .navbar .navbar-nav & {
    min-width: 130px;
  }
}

.dropdown-menu {
  min-width: 30px;
  background: @mdb-nav-dropdown-bg;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);

  .navbar.navbar-grey &,
  .navbar & {
    width: 100%;
    margin-top: -65px;
    padding-top: 73px;
    top: calc(~'(100% + @{mdb-nav-link-padding}/2)');

    li {
      > a {
        padding-top: 7px;
        padding-bottom: 3px;
        margin: 0;
        border: none;

        &:hover {
          color: @mdb-nav-dropdown-hover-color;
          background: @mdb-nav-dropdown-hover;
        }
      }
    }
  }
}
