.btn.btn-fab {
  border-radius: 50%;
  font-size: @smb-btn-fab-font-size;
  line-height: normal;
  height: @smb-btn-fab-size;
  min-width: @smb-btn-fab-size;
  width: @smb-btn-fab-size;
  padding: 0;
  margin: auto;
  display: inline-block;
  overflow: hidden;
  position: relative;
  z-index: @zindex-fab;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.24), 0 0 8px 0 rgba(0, 0, 0, 0.12);
  .background-variations(~".btn", ~"", @smb-btn-fab-bg-color, @default-color-hover);

  &.btn-fab-mini {
    height: @smb-btn-fab-size-mini;
    min-width: @smb-btn-fab-size-mini;
    width: @smb-btn-fab-size-mini;
    box-shadow: 0 6px 6px 0 rgba(0, 0, 0, 0.2), 0 0 6px 0 rgba(0, 0, 0, 0.12);

    &.material-icons {
      top: (@smb-btn-fab-size-mini - @smb-btn-fab-font-size) / 2;
      left: (@smb-btn-fab-size-mini - @smb-btn-fab-font-size) / 2;
    }
  }

  .material-icons {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -(@smb-btn-fab-font-size / 2);
    margin-left: -(@smb-btn-fab-font-size / 2);
    line-height: @smb-btn-fab-font-size;
    width: @smb-btn-fab-font-size;
  }
}

.fixed-action-btn {
  position: fixed;
  padding: 16px;
  z-index: @zindex-fab;

  // Fab positioning on page
  &.pos-top-left {
    top: 0;
    left: 0;
  }
  &.pos-top-right {
    top: 0;
    right: 0;
  }

  &.pos-bottom-left {
    bottom: 0;
    left: 0;
  }
  &.pos-bottom-right {
    bottom: 0;
    right: 0;
  }
}

// Fab buttons group
.float-btn-group {
  position: relative;
  transition: 0.3s;
  float: left;

  .btn-trigger {
    float: left;

    .material-icons {
      transition: all .2s;
    }
  }

  .btn-list {
    right: 0;
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    position: absolute;
    transition: 0.3s;
    text-align: center;


    .btn-list--item {
      padding: calc(~'((@{smb-btn-fab-size} - @{smb-btn-fab-size-mini})/2)');
      opacity: 0;
      position: absolute;
      transition: all .4s;
    }
  }

  &.open {
    .btn-trigger {
      .material-icons {
        transition: all .3s;
        transform: rotate(315deg);
      }
    }

      .btn-list--item {
        opacity: 1;
        z-index: calc(~'(@{zindex-fab}) - 1');
      }

      .btn-list--item (@index) when (@index > 0) {
        .btn-list--item:nth-child(@{index}) {
          transition-duration: calc(~'(@{index}) * 0.1s');
        }
        .btn-list--item(@index - 1);
      }

      .btn-list--item(6);

  }

  // Fab List Animation modification
  // Top to Bottom Animation
  &.animation-top-bottom {
    .btn-list {
      top: 0;
      padding-top: calc(~'(@{smb-btn-fab-size}) + @{smb-btn-fab-distance}');

      .btn-list--item {
        bottom: 0;
      }
    }

    &.open {
      .btn-list--item (@index) when (@index > 0) {
        .btn-list--item:nth-child(@{index}) {
          transform:translate(0, calc(~'(@{smb-btn-fab-size-mini} * @{index} + @{smb-btn-fab-distance} * @{index}) + @{smb-btn-fab-distance}/2'));
        }
        .btn-list--item(@index - 1);
      }
      .btn-list--item(6);
    }
  }

  // Bottom to Top Animation
  &.animation-bottom-top {
    .btn-list {
      bottom: 0;
      padding-bottom: calc(~'(@{smb-btn-fab-size}) + @{smb-btn-fab-distance}');

      .btn-list--item {
        top: 0;
      }
    }

    &.open {
      .btn-list--item (@index) when (@index > 0) {
        .btn-list--item:nth-child(@{index}) {
          transform:translate(0, calc(~' ((@{smb-btn-fab-size-mini} * @{index} + @{smb-btn-fab-distance} * @{index}) + @{smb-btn-fab-distance}/2) * -1'));
        }
        .btn-list--item(@index - 1);
      }
      .btn-list--item(6);
    }
  }

  // Right to Left Animation
  &.animation-right-left {
    float: left;

    .btn-list {
      bottom: 0;
      padding-bottom: calc(~'(@{smb-btn-fab-size})');

      .btn-list--item {
        left: 0;
      }
    }

    &.open {
      .btn-list--item (@index) when (@index > 0) {
        .btn-list--item:nth-child(@{index}) {
          transform:translate(calc(~' ((@{smb-btn-fab-size-mini} * @{index} + @{smb-btn-fab-distance} * @{index}) + @{smb-btn-fab-distance} * 1.5)'), 0);
        }
        .btn-list--item(@index - 1);
      }
      .btn-list--item(6);
    }
  }

  // Left to Right Animation
  &.animation-left-right {
    float: right;

    .btn-list {
      bottom: 0;
      padding-bottom: calc(~'(@{smb-btn-fab-size})');

      .btn-list--item {
        right: 0;
      }
    }

    &.open {
      .btn-list--item (@index) when (@index > 0) {
        .btn-list--item:nth-child(@{index}) {
          transform:translate(calc(~' ((@{smb-btn-fab-size-mini} * @{index} + @{smb-btn-fab-distance} * @{index}) + @{smb-btn-fab-distance} * 1.5) * -1'), 0);
        }
        .btn-list--item(@index - 1);
      }
      .btn-list--item(6);
    }
  }
}



