//
// Forms - sizing - material - mirrors bootstrap/forms.less with custom sizing
//
// LEAVE THIS IDENTICAL TO THE BOOTSTRAP FILE - DO NOT CUSTOMIZE HERE.
//
// NOTE: this is intentionally kept structurally _identical_ to the bootstrap/forms.less file to make it easier
//        to identify differences in sizing approaches to form inputs.
// --------------------------------------------------

legend {
  margin-bottom: @smd-input-line-height-computed;
  font-size: (@smd-input-font-size * 1.5);
}

// Adjust output element
output {
  padding-top: (@smd-input-padding-vertical + 1);
  font-size: @smd-input-font-size;
  line-height: @smd-input-line-height;
}

.form-control {
  font-size: @smd-input-font-size;
  height: @smd-input-height; // Make inputs at least the height of their button counterpart (base line-height + padding + border)
  line-height: @smd-input-line-height;
  margin: @smd-input-margin 0;
  padding: @smd-input-padding-vertical @smd-input-padding-horizontal;
}

// Special styles for iOS temporal inputs
//
// In Mobile Safari, setting `display: block` on temporal inputs causes the
// text within the input to become vertically misaligned. As a workaround, we
// set a pixel line-height that matches the given height of the input, but only
// for Safari. See https://bugs.webkit.org/show_bug.cgi?id=139848
//
// Note that as of 8.3, iOS doesn't support `datetime` or `week`.

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="date"],
  input[type="time"],
  input[type="datetime-local"],
  input[type="month"] {
    &.form-control,
    &.input-sm,
    &.input-lg,
    .input-group-sm &,
    .input-group-lg & {
      line-height: @smd-input-height;
    }
  }
}


// Checkboxes and radios
//
// Indent the labels to position radios/checkboxes as hanging controls.

.radio,
.checkbox,
.togglebutton{
  label {
    font-size: @smb-checkbox-font-size;
    min-height: @smd-input-line-height-computed; // Ensure the input doesn't jump when there is no text
  }
}


// Static form control text
//
// Apply class to a `p` element to make any string of text align with labels in
// a horizontal form layout.

.form-control-static {
  // Size it appropriately next to real form controls
  padding-top: (@smd-input-padding-vertical + 1);
  padding-bottom: (@smd-input-padding-vertical + 1);
  min-height: (@smd-input-line-height-computed + @smd-input-font-size);
}


// Form control sizing
//
// Relative text size, padding, and border-radii changes for form controls. For
// horizontal sizing, wrap controls in the predefined grid classes. `<select>`
// element gets special love because it's special, and that's a fact!

// mixin pulled from bootstrap and altered for less/sass compatibility with sass parent hack.
//  bootstrap-sass has this one, but we would have to then convert it back to less.  chicken meet egg.
.input-size(@parent, @mdb-input-height, @padding-vertical, @padding-horizontal, @font-size, @line-height, @border-radius) {

  @{parent} {
    height: @mdb-input-height;
    padding: @padding-vertical @padding-horizontal;
    font-size: @font-size;
    line-height: @line-height;
    border-radius: @border-radius;
  }

  select@{parent} {
    height: @mdb-input-height;
    line-height: @mdb-input-height;
  }

  textarea@{parent},
  select[multiple]@{parent} {
    height: auto;
  }
}



// Form control sizing
//
// Build on `.form-control` with modifier classes to decrease or increase the
// height and font-size of form controls.
//
// The `.form-group-* form-control` variations are sadly duplicated to avoid the
// issue documented in https://github.com/twbs/bootstrap/issues/15074.
.input-sm {
  .input-size(~".input-sm", @smd-input-height, @smd-input-padding-vertical, @smd-input-padding-horizontal, @smd-input-font-size, @smd-input-line-height, @mdb-input-border-radius-base);
}
.input-lg {
  .input-size(~".input-lg", @smd-input-height, @smd-input-padding-vertical, @smd-input-padding-horizontal, @smd-input-font-size, @smd-input-line-height, @mdb-input-border-radius-base);
}
.form-group-sm,
.form-group-lg {
  .form-control {
    height: @smd-input-height;
    padding: @smd-input-padding-vertical @smd-input-padding-horizontal;
    font-size: @smd-input-font-size;
    line-height: @smd-input-line-height;
  }
  select.form-control {
    height: @smd-input-height;
    line-height: @smd-input-height;
  }
  textarea.form-control,
  select[multiple].form-control {
    height: auto;
  }
  .form-control-static {
    height: @smd-input-height;
    min-height: (@smd-input-line-height-computed + @smd-input-font-size);
    padding: (@smd-input-padding-vertical + 1) @smd-input-padding-horizontal;
    font-size: @smd-input-font-size;
    line-height: @smd-input-line-height;
  }
}

