@import '_inputs-size.less';

// Mixins
.form-group-validation-state(@name, @color) {
  &.@{name} { // e.g. has-error
    .form-control {
      background-image: linear-gradient(@color, @color), linear-gradient(@smd-input-underline-color, @smd-input-underline-color);
      background-size: 100% 2px, 100% 0;
      box-shadow: none;
      caret-color: @color;

      &:focus {
        border-color: @smd-input-underline-color;
      }
    }

    &.label-static.is-focused .control-label,
    &.label-floating.is-focused .control-label {
      color: @color;
    }

    .help-block {
      color: @color;
    }
  }
}


// Styles

label {
  font-weight: 400;
}

.required::after {
  color: @smd-required-color;
  content: "*";
}

.checkbox label,
.radio label {
  line-height: @smd-input-checkbox-line-height;
}

.form-group {
  position: relative;
}

// Form group with .form-control elements
.form-group-input {
  .clearfix();

  // Help block
  .help-block {
    max-height: 0;
    margin: 0;
    opacity: 0;
    transition: all 0.3s;
  }

  &.is-focused,
  &.has-error,
  &.has-warning {
    .help-block {
      margin-top: @smd-help-block-top-margin;
      max-height: 500px;
      opacity: 1;
    }
  }

  // Label not control-label
  label {
    margin-bottom: 0;
    vertical-align: baseline;
  }

  // Control label as placeholder
  .control-label {
    color: @input-color-placeholder;
    font-size: @smd-input-font-size;
    line-height: @smd-input-line-height;
    margin: 0;
    position: absolute;
    top: @smd-input-label-top;
    transition: 0.3s ease all;
    white-space: nowrap;
    z-index: 3;
  }

  &:not(.is-empty) .control-label {
    display: none;
  }

  // Input with floating or static label
  &.label-floating,
  &.label-static {
    .form-control {
      margin-top: @smd-input-floating-margin-top;
    }

    &.is-focused .control-label {
      color: @smd-label-floating-color;
    }

    & + & {
      margin-top: -@form-group-margin-bottom;
    }
  }

  &.label-floating {
    .control-label {
      top: @smd-input-floating-margin-top - @smd-input-margin + @smd-input-label-top;
      will-change: left, top, contents;
    }
  }

  &.label-static,
  &.label-floating.is-focused,
  &.label-floating:not(.is-empty) {
    .control-label {
      display: block;
      font-size: @smd-label-floating-font-size;
      line-height: @smd-label-floating-line-heihgt;
      top: @smd-label-floating-top;
    }
  }
}

// -----
// Inputs
//
// Reference http://www.google.com/design/spec/components/text-fields.html
// MDL implementation: http://www.getmdl.io/components/index.html#textfields-section
.form-control {
  background-color: @input-bg;
  background-image: linear-gradient(@smd-input-underline-color-focus, @smd-input-underline-color-focus), linear-gradient(@smd-input-underline-color, @smd-input-underline-color);
  background-position: center bottom, center bottom;
  background-repeat: no-repeat;
  background-size: 0 2px, 100% 1px;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  caret-color: @smd-input-color-caret;
  color: @input-color;
  transition: background 0s ease-out;

  // Placeholders and and labels-as-placeholders should look the same
  .material-placeholder({
    color: @input-color-placeholder;
    font-size: @smd-input-font-size;
    font-weight: 400;
    line-height: @smd-input-line-height;
  });

  .form-group.is-focused & {
    background-size: 100% 2px, 100% 0;
    box-shadow: none;
    outline: none;
    transition-duration: 0.3s;
  }

  // Disabled, readonly
  &[readonly],
  &[disabled],
  fieldset[disabled] & {
    background-color: @input-bg;
  }

  &[disabled],
  fieldset[disabled] & {
    background-image: none;
    border-bottom: 1px dashed @smd-input-underline-color;
    color: @input-color-placeholder;
  }
}

// Help block
.help-block {
  color: @smd-help-color;
  font-size: @smd-help-block-font-size;
}

// Textarea
textarea.form-control {
  height: @smd-input-height;
  line-height: @smd-textarea-line-height;
  padding-top: @smd-textarea-padding-vertical;
  padding-bottom: @smd-textarea-padding-vertical;
  resize: none;

  &[disabled] {
    height: @smd-input-height + 1px;
  }
}

// Input type file
.form-group-file {
  input[type=file] {
    left: 0;
    opacity: 0;
    position: absolute;
    right: 0;
    top: @smd-input-margin;
    z-index: 3;
    width: 100%;
    height: @smd-input-height;
  }

  &.label-floating input[type=file] {
    top: @smd-input-floating-margin-top;
  }

  &.is-focused .form-control{
    transition-duration: 0.1s;
  }
}

// Validation states
.form-group {
  .form-group-validation-state(has-warning, @brand-warning);
  .form-group-validation-state(has-error, @brand-danger);
  .form-group-validation-state(has-success, @brand-success);
  .form-group-validation-state(has-info, @brand-info);

  &.has-error .control-label.required::after {
    color: @brand-danger;
  }
}

// Full width .form-contol elements
.form-group-full-width {
  margin-top: 0;
  margin-bottom: 0;

  .form-control {
    border-top: 1px solid @smd-input-underline-color;
    height: @smd-input-full-width-height;
    margin: 0;
    padding: @smd-input-full-width-padding-vertical @smd-input-full-width-padding-horizontal;
  }

  .control-label {
    top: @smd-input-full-width-label-top;
    left: @smd-input-full-width-padding-horizontal;
  }

  // Disabled, readonly
  .form-control {
    &[disabled],
    fieldset[disabled] & {
      border-bottom: 1px dashed @smd-input-underline-color;
      border-top: 1px dashed @smd-input-underline-color;
    }
  }

  // Textarea
  textarea.form-control {
    padding-top: @smd-textare-full-width-padding-vertical;
    padding-bottom: @smd-textare-full-width-padding-vertical;
  }

  & + & {
    .form-control {
      border-top: 0;
    }
  }
}

// Form group with icons
.form-group {
  .input-icon {
    color: @smd-icon-color;
    float: left;
    height: @smd-icon-size;
    text-align: center;
    vertical-align: middle;

    .icon {
      font-size: @smd-icon-font-size;
      line-height: @smd-icon-size;
    }
  }
}

.form-group-icon {
  // width of .material-icon is the same as its font-size
  padding-left: @smd-icon-font-size + @smd-icon-margin;

  .input-icon {
    margin-left: -(@smd-icon-font-size + @smd-icon-margin);
    padding-right: @smd-icon-margin;
  }
}

.form-group-icon-grey {
  padding-left: @smd-icon-size + @smd-icon-bg-margin;

  .input-icon {
    background: @grey-100;
    margin-left: -(@smd-icon-size + @smd-icon-bg-margin);
    width: @smd-icon-size;
  }
}

.form-group-icon,
.form-group-icon-grey {
  // Label floating or static
  &.label-floating .input-icon,
  &.label-static .input-icon {
    margin-top: @smd-input-floating-margin-top - @smd-input-margin;
  }

  // Full width input
  &.form-group-full-width {
    padding-left: 0;

    .input-icon {
      margin-left: @smd-icon-margin;
      margin-top: @smd-input-full-width-padding-vertical - @smd-input-padding-vertical - @smd-input-margin;
    }
  }
}

.form-group-icon {
  &.form-group-full-width {
    @left: @smd-icon-font-size + @smd-icon-margin + @smd-icon-margin;
    .form-control {
      padding-left: @left;
    }

    .control-label {
      left: @left;
    }

    .input-icon {
      margin-right: -@left;
    }
  }
}
.form-group-icon-grey {
  &.form-group-full-width {
    @left: @smd-icon-size + @smd-icon-margin + @smd-icon-margin;

    .form-control {
      padding-left: @left;
    }

    .control-label {
      left: @left;
    }

    .input-icon {
      margin-right: -@left;
    }
  }
}


// Form inline
.form-inline {
  @media (min-width: @screen-sm-min) {
    .form-group,
    .form-control,
    .input-group,
    .radio,
    .checkbox {
      vertical-align: baseline;
    }

    .help-block {
      position: absolute;
    }
  }
}

// Form horizontal
.form-horizontal {
  .control-label {
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  // label  on left side (has class like .col-md-3)
  .control-label[class*="col-"] {
    color: @smd-horizontal-label-color;
    display: block;
    font-weight: bold;
    padding-bottom: @smd-input-padding-vertical;
    padding-top: @smd-input-padding-vertical;
    position: static;
    text-align: left;
  }

  @media (min-width: @screen-xs-min) {
    .control-label[class*="col-xs-"] {
      margin-top: @smd-input-margin;
    }
  }
  @media (min-width: @screen-sm-min) {
    .control-label[class*="col-sm-"] {
      margin-top: @smd-input-margin;
    }
  }
  @media (min-width: @screen-md-min) {
    .control-label[class*="col-md-"] {
      margin-top: @smd-input-margin;
    }
  }
  @media (min-width: @screen-lg-min) {
    .control-label[class*="col-lg-"] {
      margin-top: @smd-input-margin;
    }
  }

  .form-group-input {
    &.label-floating,
    &.label-static {
      &,
      &.is-focused,
      &:not(.is-empty) {
        .control-label[class*="col-"] {
          color: @black;
          font-size: @smd-input-font-size;
          line-height: @smd-input-line-height;
        }
        @media (min-width: @screen-xs-min) {
          .control-label[class*="col-xs-"] {
            margin-top: @smd-input-floating-margin-top;
          }
        }
        @media (min-width: @screen-sm-min) {
          .control-label[class*="col-sm-"] {
            margin-top: @smd-input-floating-margin-top;
          }
        }
        @media (min-width: @screen-md-min) {
          .control-label[class*="col-md-"] {
            margin-top: @smd-input-floating-margin-top;
          }
        }
        @media (min-width: @screen-lg-min) {
          .control-label[class*="col-lg-"] {
            margin-top: @smd-input-floating-margin-top;
          }
        }
      }
    }

    // input wrapper on right side
    & > div[class*="col-"] {
      position: relative;
      .clearfix();
    }
  }
}

// Select
.form-group-select {
  .form-control {
    appearance: none; // Fix for OS X
    border: 0;
    border-radius: 0;
    box-shadow: none;
    margin-top: 0;
  }

  .caret {
    position: absolute;
    right: 0;
    top: @smd-input-floating-margin-top - @smd-input-margin + @smd-input-label-top + 5px;
    margin-right: 10px;
    cursor: default;
  }

  .form-horizontal & > div[class*="col-"] .caret {
    right: 15px;
  }

  &.form-group-full-width {
    .form-control {
      border-top: 1px solid @smd-input-underline-color;
    }

    .caret{
      top: @smd-input-full-width-label-top + 6px;
    }

    & + & {
      .form-control {
        border-top: 0;
      }
    }
  }
}

// Input groups
.input-group-addon {
  background: none;
  border: 0;
  border-radius: 0;
}

.input-group-btn > .btn {
  background: inherit;
  border: 0;
  border-radius: inherit;
  box-shadow: none;
}
