.container,
.container-fluid {
  .jumbotron {
    background-color: #fff;
    .shadow-z-2();
    border-radius: @border-radius-base;
    border: 0;

    .variations(~"", ~"", background-color, @white);
  }
}