// Placeholder text
.material-placeholder(@rules) {
  &::-moz-placeholder { @rules(); } // Firefox
  &:-ms-input-placeholder { @rules(); } // Internet Explorer 10+
  &::-webkit-input-placeholder  { @rules(); } // Safari and Chrome
}


// usage: .variations(~" .check", color, transparent);
.variations(@component, @selector-suffix, @property, @color-default) {
  .generic-variations(@component, @selector-suffix, @color-default, {
    @{property}: @variation-color;
  });
}



.background-variations(@component, @selector-suffix, @color-default, @color-default-hover) {
  .generic-variations(@component, @selector-suffix, @color-default, {
    background-color: @variation-color;
    & when (@variation-color = @mdb-btn-background-color) {
      color: @smd-text-color-primary;
    }
    & when not (@variation-color = @mdb-btn-background-color) {
      color: @variation-color-text;
    }
  });

  &:focus,
  &:hover {
    .generic-variations(@component, @selector-suffix, @color-default-hover, {
      background-color: @variation-color-hover;
    });
  }
}

.text-variations(@component, @selector-suffix, @color-default) {
  .generic-variations(@component, @selector-suffix, @color-default, {
    color: @variation-color;
  });
}



//
// To use this mixin you should pass a function as final parameter to define
// the style. In that definition you can use the following variables to define it.
//
// @component: ~".btn" - one of the bs components that have -default, -danger, etc.
// @variation-color
// @variation-color-hover
// @variation-color-text
//
.generic-variations(@component, @selector-suffix, @color-default, @func) {
  @contrast-factor: 40%;
  // bootstrap styles
  &@{selector-suffix},
  &@{component}-default@{selector-suffix} {
    @variation-color: @color-default;
    @variation-color-hover: @default-color-hover;
    @variation-color-text: @smd-text-color-primary;
    @func();
  }
  &@{component}-primary@{selector-suffix} {
    @variation-color: @brand-primary;
    @variation-color-hover: @brand-primary-hover;
    @variation-color-text: @smd-text-color-light-hex;
    @func();
  }
  &@{component}-info@{selector-suffix} {
    @variation-color: @brand-info;
    @variation-color-hover: @brand-info-hover;
    @variation-color-text: @mdb-text-color-light;
    @func();
  }
  &@{component}-danger@{selector-suffix} {
    @variation-color: @brand-danger;
    @variation-color-hover: @brand-danger-hover;
    @variation-color-text: @mdb-text-color-light;
    @func();
  }
  &@{component}-warning@{selector-suffix} {
    @variation-color: @brand-warning;
    @variation-color-hover: @brand-warning-hover;
    @variation-color-text: @mdb-text-color-light;
    @func();
  }

  &@{component}-grey@{selector-suffix} {
    @variation-color: @mdb-brand-grey;
    @variation-color-hover: @brand-warning;
    @variation-color-text: @mdb-brand-grey-hover;
    @func();

    .caret {
      border-top-color: @cod-gray;
    }
  }

  &@{component}-accent@{selector-suffix} {
    @variation-color: @brand-accent;
    @variation-color-hover: @brand-accent-hover;
    @variation-color-text: @mdb-text-color-light;
    @func();
  }
}
