.navbar {
  border: 0;
  border-radius: 0;

  .navbar-nav {
    > li > a {
      color: @smd-text-color-primary;
      border: 0;
    }
    > .active > a {
      &,
      &:hover,
      &:focus {
        color: @smd-text-color-primary;
        background-color: rgba(255, 255, 255, 0.4);
      }
    }
    > .disabled > a {
      &,
      &:hover,
      &:focus {
        color: @smd-text-color-primary;
        background-color: transparent;
       // opacity: 0.9;
      }
    }
  }

  // Darken the responsive nav toggle
  .navbar-toggle {
    border: 0;
    &:hover,
    &:focus {
      background-color: transparent;
    }
    .icon-bar {
      background-color: inherit;
      border: 1px solid;
    }
  }

  .navbar-nav {
    > .open > a {
      &,
      &:hover,
      &:focus {
        background-color: transparent;
        color: @smd-text-color-primary;
      }
    }
  }

  // SASS conversion note: please mirror any content change in _mixins-shared.scss navbar-variations-content
  .generic-variations(~".navbar", ~"", @brand-primary, {
    background-color: @variation-color;
    color: @variation-color-text;
    // deeply defined to override welljumbo class without !impotant need
    .navbar-form .form-group input.form-control,
    .navbar-form input.form-control {
      .material-placeholder({
        color: @variation-color-text;
      });
    }
  });

  &.navbar-grey {
    border-top: 1px solid @mdb-nav-border;
    border-bottom: 1px solid @mdb-nav-border;

    .container-fluid {
      @media (min-width: @grid-float-breakpoint) {
        padding: 0;
      }
    }
  }

  .navbar-nav {
    padding: @mdb-nav-link-padding/2 0;

    > li {

      &:not(:first-child) {
        @media (min-width: @grid-float-breakpoint) {
          border-left: 1px solid @mdb-nav-border;
        }
      }
    }

    a {
      padding: @mdb-nav-link-padding;

      @media (min-width: @grid-float-breakpoint) {
        margin: -@mdb-nav-link-padding/2 0;
      }
    }
  }
}
