.pagination {
  border-radius: 0;

  > li {
    > a,
    > span {
      border: none;
      border-radius: 2px;
      padding: 4px 8px 0;
      font-size: 14px;
      line-height: 20px;
      color: @smb-pagination-color;

      &:focus,
      &:hover {
        color: @smb-pagination-color;
      }

      > .material-icons {
        font-size: 24px;
        margin: -4px -8px 0;
      }
    }

    &.active {
      > a,
      > span {
        background-color: @smb-pagination-active;

        &:focus,
        &:hover {
          background-color: @smb-pagination-active-hover;
        }
      }
    }
  }
}
