.panel {
  border: 0;
  border-radius: 0;

  .variations(~".panel", ~" > .panel-heading", background-color, @brand-primary);
  .shadow-z-2;
}

[class*="panel-"] > .panel-heading {
  color: @smd-text-color-light-hex;
}

.panel-palette > .panel-heading {
  background: @smd-panel-palette-header-bg;
  color: @smd-text-color-primary;
}

.panel-heading {
  border: 0;
  border-radius: 0;
  font-size: @smd-panel-header-font-size;
  line-height: @smd-panel-header-line-height;
  padding: @smd-panel-header-padding-vert @smd-panel-padding-horiz;
}

.panel-heading .btn-close {
  @close-margin-top: @smd-btn-height / 2 - @smd-panel-header-font-size * @smd-panel-header-line-height / 2;
  @close-margin-right: @smd-panel-padding-horiz - @smd-panel-header-padding-vert + @close-margin-top;

  float: right;
  margin-top: -@close-margin-top;
  margin-right: -@close-margin-right;
}

.panel-title {
  font-size: @smd-panel-header-font-size;
  line-height: @smd-panel-header-line-height;
  text-transform: uppercase;
}

.panel-body {
  padding: @smd-panel-body-padding-vert @smd-panel-padding-horiz;
}

.panel-footer {
  background: none;
  border: 0;
  padding: @smd-panel-footer-padding;
}

.panel > .list-group > .list-group-item {
  padding-left: @smd-panel-padding-horiz;
  padding-right: @smd-panel-padding-horiz;
}
