.progress {
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 0;
    box-shadow: none;
    position: relative;
    background: @smb-progress-bg;

    .progress-bar {
        box-shadow: none;
        .variations(~".progress-bar", ~"", background-color, @brand-primary);

        &.indetermin {
            &::before,
            &::after {
                content: '';
                position: absolute;
                background-color: inherit;
                top: 0;
                left: 0;
                bottom: 0;
                will-change: left, right;
            }

            &::before {
                animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            }

            &::after {
                animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
                animation-delay: 1.15s;
            }
        }
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

// Circle Preloader
.preloader-wrapper {
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;

    &.active {
        /* duration: 360 * ARCTIME / (ARCSTARTROT + (360-ARCSIZE)) */
        animation: container-rotate 1568ms linear infinite;
    }
}

@keyframes container-rotate {
    to { transform: rotate(360deg) }
}

.spinner-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-color: @smb-progress-color;

    &-info {
        border-color: @brand-info;
    }

    &-danger {
        border-color: @brand-danger;
    }

    .active & {
        /* durations: 4 * ARCTIME */
        opacity: 1;
        animation: fill-unfill-rotate 5332ms cubic-bezier(0.4, 0.0, 0.2, 1) infinite both;
    }
}

@keyframes fill-unfill-rotate {
    12.5% { transform: rotate(135deg);  } /* 0.5 * ARCSIZE */
    25%   { transform: rotate(270deg);  } /* 1   * ARCSIZE */
    37.5% { transform: rotate(405deg);  } /* 1.5 * ARCSIZE */
    50%   { transform: rotate(540deg);  } /* 2   * ARCSIZE */
    62.5% { transform: rotate(675deg);  } /* 2.5 * ARCSIZE */
    75%   { transform: rotate(810deg);  } /* 3   * ARCSIZE */
    87.5% { transform: rotate(945deg);  } /* 3.5 * ARCSIZE */
    to    { transform: rotate(1080deg); } /* 4   * ARCSIZE */
}


/**
 * Patch the gap that appear between the two adjacent div.circle-clipper while the
 * spinner is rotating (appears on Chrome 38, Safari 7.1, and IE 11).
 */
.gap-patch {
    position: absolute;
    top: 0;
    left: 45%;
    width: 4px;
    height: 100%;
    overflow: hidden;
    border-color: inherit;

    & .circle {
        width: 1000%;
        left: -450%;
    }
}

.circle-clipper {
    display: inline-block;
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
    border-color: inherit;

    .circle {
        width: 200%;
        height: 100%;
        border-width: 4px; /* STROKEWIDTH */
        border-style: solid;
        border-color: inherit;
        border-bottom-color: transparent !important;
        border-radius: 50%;
        -webkit-animation: none;
        animation: none;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
    }

    &.left .circle {
        left: 0;
        border-right-color: transparent !important;
        transform: rotate(129deg);
    }
    &.right .circle {
        left: -100%;
        border-left-color: transparent !important;
        transform: rotate(-129deg);
    }
}

.active .circle-clipper.left .circle {
    /* duration: ARCTIME */
    animation: left-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1.8) infinite both;
}

.active .circle-clipper.right .circle {
    /* duration: ARCTIME */
    animation: right-spin 1333ms cubic-bezier(0.4, 0.0, 0.2, 1.8) infinite both;
}

@keyframes left-spin {
    from { transform: rotate(100deg); }
    50% { transform: rotate(-5deg); }
    to { transform: rotate(100deg); }
}

@keyframes right-spin {
    from { transform: rotate(-100deg); }
    50% { transform: rotate(5deg); }
    to { transform: rotate(-100deg); }
}
