// Tabs header
.tab-header {
    width: 100%;
    padding: 0 @smb-tabs-padding;
    background: @smb-tabs-bg;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);

    @media (min-width: @container-tablet) {
        padding: 0 calc(~'(@{smb-tabs-padding} * 2)');
    }

    .nav-tabs {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        position: relative;
        margin: 0;
        padding: 0;
        border: none;
        white-space: nowrap;

        .tab-item {
            min-width: 72px;
            max-width: 160px;
            margin: 0;
            display: inline-block;
            box-sizing: border-box;

            @media (min-width: @container-tablet) {
                min-width: 160px;
                max-width: 264px;
            }

            > a {
                border: 0;
                margin: 0;
                padding: 16px @smb-tabs-padding;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                white-space: normal;
                text-transform: uppercase;
                color: @smb-tabs-color;
                opacity: .7;
                position: relative;

                &.two-tier {
                    font-size: 12px;
                    padding-top: 7px;
                    padding-bottom: 8px;
                }

                &:hover {
                    background-color: transparent;
                    border: 0;
                }
            }

            &.disabled,
            &.active {
                > a,
                > a:hover,
                > a:focus {
                    color: @smb-tabs-color;
                    border: none;
                    background-color: transparent;
                }
            }

            &.active {
                > a {
                    opacity: 1;
                }
            }

        }

        .indicator {
            display: inline-block;
            background: @smb-tabs-color;
            width: 72px;
            height: 2px;
            max-width: 264px;
            left: 0;
            bottom: 0;
            position: absolute;
            transition:all .4s linear;
        }
    }

    // Centered tabs
    &.nav-tabs--centered .nav-tabs {
        justify-content: center;
    }

    // Full width tabs
    &.nav-tabs--full-width .nav-tabs {
        .tab-item {
            flex-grow: 1;
            float: none;
        }
    }

    // Tabs with icons
    &.nav-tabs--icon .nav-tabs,
    &.nav-tabs--icon-text .nav-tabs {
        .tab-item {
            min-width: 70px;

            > a {
                padding-top: 12px;
                padding-bottom: 12px;
            }
        }
    }

    &.nav-tabs--text {
        // Stacked icon tabs
        &-stacked .nav-tabs {
            .tab-item {
                height: 72px;

                > a {
                    padding-top: 8px;
                    padding-bottom: 12px;
                }

                @media (min-width: @container-tablet) {
                    min-width: 120px;
                }
            }

            .material-icons {
                display: block;
                clear: both;
                padding-bottom: 10px;
            }
        }

        // Horizontal icon tabs
        &-horizontal .nav-tabs {
            .tab-item {
                > a {
                    line-height: 24px;
                    padding-top: 12px;
                    padding-bottom: 12px;
                }

                @media (min-width: @container-tablet) {
                    min-width: 150px;
                }
            }

            .material-icons {
                margin: -2px 0 0;
                padding-right: 8px;
            }
        }
    }

    // Nav-tabs color modification
    &.nav-tabs--dark {
        background: @smb-tabs-dark-bg;
    }

    &.nav-tabs--white {
        background: @smb-tabs-white-bg;

        .nav-tabs {
            .tab-item {
                > a {
                    opacity: 1;
                    color: @smb-tabs-white-color;
                }

                &.active {
                    > a,
                    > a:hover,
                    > a:focus {
                        color: @smb-tabs-white-color-active;
                    }
                }

                &.disabled {
                    > a,
                    > a:hover,
                    > a:focus {
                        color: @smb-tabs-white-color;
                    }
                }
            }

            .indicator {
                background: @smb-tabs-white-color-active;
            }
        }

        .tab-arrow {
            .material-icons {
                color: @mine-black;
            }
        }

    }
}

//SCROLLABLE TAB
.scrtabs-tabs-fixed-container,
.scrtabs-tab-container {
    min-height: 48px;
    height: auto;

    .nav-tabs--text-stacked & {
        min-height: 72px;
    }
}

.tab-arrow {
    cursor: pointer;
    display: none;
    float: left;
    width: 24px;
    height: 100%;
    min-height: 48px;
    box-sizing: border-box;

    .material-icons {
        color: @smb-tabs-color;
        font-size: 24px;
        line-height: 44px;

        .nav-tabs--text-stacked & {
            line-height: 72px;
        }
    }

    &.scrtabs-disable {
        display: none;
        visibility: hidden;
    }
}

// Tabs content
.tab-content {
    padding-top: 20px;
}
