@import "_colors.less";


// Typography elements

//-- Z-index master list
@zindex-fab: 1030;

// Import fonts
@font-face {
  font-family: 'ArialRoundedMTStd';
  src: url('../fonts/ArialRoundedMTStd.woff2') format('woff2'),
       url('../fonts/ArialRoundedMTStd.woff') format('woff');
}

@mdb-font-family: 'ArialRoundedMTStd', 'Arial', sans-serif;
@mdb-text-color-light:  ~"rgba(@{rgb-white}, 0.84)";
@smd-text-color-light-hex: @white; // for contrast function in inverse
@smd-text-color-primary: @mine-black;
@mdb-text-color-primary-hex: @black; // for contrast function in inverse
@icon-color: rgba(0,0,0,0.5);


@mdb-label-color: ~"rgba(@{rgb-black}, 0.26)";
@mdb-label-color-toggle-focus: ~"rgba(@{rgb-black}, .54)";

// import bs variables for less, last declared wins.
@import "_import-bs-less.less";

//---
// Converted bs variables

// Bootstrap brand color customization
@default-color: @alabaster;
@default-color-hover: @concrete;
@brand-primary: @emerald;
@brand-primary-hover: @fun-green;
@brand-success: @emerald;
@brand-success-hover: @fun-green;
@brand-accent: @spruce-green;
@brand-accent-hover: @jewel;
@brand-info: @picton-blue;
@brand-info-hover: @curious-blue;
@brand-warning: @mango-tango;
@brand-warning-hover: @indochine;
@brand-danger: @punch;
@brand-danger-hover: @monza;

@mdb-brand-grey: @grey-200;
@mdb-brand-grey-hover: @grey-400;

@border-radius-base: 2px;
@border-radius-small: 1px;

// Typography
@font-family-sans-serif: 'ArialRoundedMTStd', 'Arial', sans-serif;
@headings-font-weight: 300;

@body-bg: #fff;
//---

// import bs variables for sass, first declared wins.
@import "_import-bs-sass.less";

// Bootstrap Material Design variables start with mdb-
@mdb-brand-inverse: @indigo;



/* ANIMATION */
@mdb-animation-curve-fast-out-slow-in: cubic-bezier(0.4, 0, 0.2, 1);
@mdb-animation-curve-linear-out-slow-in: cubic-bezier(0, 0, 0.2, 1);
@mdb-animation-curve-fast-out-linear-in: cubic-bezier(0.4, 0, 1, 1);
@mdb-animation-curve-default: @mdb-animation-curve-fast-out-slow-in;


//---
// FIXME: Similar but not quite the same as Bootstrap variables
// FIXME: these need to either a) be converted to @mdb- or b) converted to bs variables
@contrast-factor: 40%;
//---




// -----
// Inputs
@input-color:                     @black;
@input-bg:                        @white;
@input-color-placeholder:         @silver;
@smd-input-color-caret:           @brand-primary;
@smd-help-color:                  @graphite;
@smd-icon-color:                  @black;
@smd-required-color:              @deep-orange-400;
@smd-horizontal-label-color:      @black;

@smd-input-underline-color:       @grey-300;
@smd-input-underline-color-focus: @brand-primary;

@smd-label-floating-size-ratio:   85/100;
@smd-help-block-size-ratio:       85/100;

@smd-input-font-size:             14px;
@mdb-input-font-size-large:       ceil((@font-size-base * 1.25)); // ~20px
@mdb-input-font-size-small:       ceil((@font-size-base * 0.75)); // ~12px

@mdb-form-group-top-base:         4px;
@smd-form-group-margin-bottom:    0;

//** Unit-less `line-height` for use in components like buttons.
@smd-input-line-height:              1.142857143; // 16/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
@smd-input-line-height-computed:     floor(@smd-input-font-size * @smd-input-line-height); // ~16px
@mdb-input-line-height-large:        1.3333333; // extra decimals for Win 8.1 Chrome
@mdb-input-line-height-small:        1.5;

//## Define common padding and border radius sizes and more. Values based on 14px text and 1.143 line-height (~16px to start).
@smd-input-padding-vertical:         8px - 1px; // was 6.
@smd-input-padding-horizontal:       0; // was 12.
@smd-input-margin:                   4px;
@smd-input-floating-margin-top:      24px;
@smd-help-block-font-size:           ceil((@smd-help-block-size-ratio * @smd-input-font-size));
@mdb-help-block-line-height:         floor(@smd-help-block-size-ratio * @smd-input-font-size * @line-height-base);
@smd-help-block-top-margin:          5px;
@smd-input-label-top:                @smd-input-margin + 1px + @smd-input-padding-vertical;


@mdb-label-as-placeholder-shim-base: 0; // manual adjustment of label top when positioned as placeholder
@mdb-label-top-margin-base:          16px;
@smd-label-floating-top:             12px;
@smd-label-floating-font-size:       ceil((@smd-label-floating-size-ratio * @smd-input-font-size));
@smd-label-floating-line-heihgt:     1.3333333; // ~16px
@smd-label-floating-color:           @brand-primary;

@mdb-input-padding-xs-vertical:      2px; // 1
@mdb-input-padding-xs-horizontal:    0; // 5

@mdb-input-border-radius-base:       0;
@mdb-input-border-radius-large:      0;
@mdb-input-border-radius-small:      0;

// Default `.form-control` height
@smd-input-height:                   (@smd-input-line-height-computed + (@smd-input-padding-vertical * 2) + 2);

// Textarea
@smd-textarea-line-height:           1.42857143; // 20/14
@smd-textarea-line-height-computed:  floor(@smd-input-font-size * @smd-textarea-line-height); // ~20px
@smd-textarea-padding-vertical:      @smd-input-padding-vertical - ((@smd-textarea-line-height-computed - @smd-input-line-height-computed - 2) / 2);


// Form group with icons
@smd-icon-font-size:                 20px;
@smd-icon-size:                      40px;
@smd-icon-margin:                    10px;
@smd-icon-bg-margin:                 20px;

// Full width .form-contol elements
@smd-input-full-width-padding-vertical:   18px;
@smd-input-full-width-padding-horizontal: 20px;
@smd-input-full-width-height:             (@smd-input-line-height-computed + (@smd-input-full-width-padding-vertical * 2) + 2);
@smd-input-full-width-label-top:          @smd-input-full-width-padding-vertical + 1;
@smd-textare-full-width-padding-vertical: @smd-input-full-width-padding-vertical - 1 - ((@smd-textarea-line-height-computed - @smd-input-line-height-computed - 2) / 2);


// Card
@mdb-card-body-text: @smd-text-color-primary;
@mdb-card-body-background: #fff;
@mdb-card-image-headline: #fff;

@text-disabled: #a8a8a8;
@background-disabled: #eaeaea;

// Checkboxes
@smb-checkbox-font-size: 14px;
@mdb-checkbox-size: 24px;
@mdb-checkbox-animation-ripple: 500ms;
@mdb-checkbox-animation-check: 0.3s;
@mdb-checkbox-checked-color: @emerald;
@mdb-checkbox-disabled-color: @mine-shaft;

@mdb-checkbox-border-size: 2px;
@mdb-checkbox-label-color: @mdb-label-color;
@mdb-checkbox-border-color:  ~"rgba(@{rgb-cod-gray}, .54)";
@smd-input-checkbox-line-height: 2;

// Popovers and Popups
@mdb-popover-background: rgba(101, 101, 101, 0.9);
@mdb-popover-color: #ececec;

// Dropdown Menu
@mdb-dropdown-font-size: 16px;

// Toggle
@mdb-toggle-label-color: @mdb-label-color;
@mdb-toggle-track-color: @mine-shaft;
@mdb-toggle-track-disabled-color: @alto;
@mdb-toggle-bounds-color: @seashell;
@mdb-toggle-bounds-disabled-color: @silver;

// Radio:
@mdb-radio-label-color: @mdb-label-color;
@mdb-radio-color-off: @mdb-label-color-toggle-focus;
@mdb-radio-color-on: @brand-primary;

// Buttons:
@smd-btn-height: 36px;
@mdb-btn-font-size-base: 14px;

//@mdb-btn-font-size-lg: 16px;
//@mdb-btn-font-size-sm: 12px;
@mdb-btn-font-size-xs: 10px;

@mdb-btn-background-color: @alabaster;
@mdb-btn-background-color-hover: @alabaster;
@mdb-btn-background-color-text: @smd-text-color-primary;

@mdl-btn-border-radus: 2px;

// FAB buttons
@smb-btn-fab-bg-color: @gallery;
@smb-btn-fab-size: 56px;
@smb-btn-fab-size-mini: 40px;
@smb-btn-fab-font-size: 24px;

@smb-btn-icon-size: 24px;
@smb-btn-icon-size-mini: 24px;

@smb-btn-fab-distance: 12px;

// Pagination:
@smb-pagination-color: @tundora;
@smb-pagination-active: @brand-primary;
@smb-pagination-active-hover: @brand-primary-hover;

//Tabs
@smb-tabs-padding: 12px;
@smb-tabs-color: @white;
@smb-tabs-bg: @brand-primary;
@smb-tabs-dark-bg: @mine-black;
@smb-tabs-white-color: @alto;
@smb-tabs-white-color-active: @brand-primary;
@smb-tabs-white-bg: @white;

/* SHADOWS */
@mdb-shadow-key-umbra-opacity: 0.2;
@mdb-shadow-ambient-shadow-opacity: 0.12;
@mdb-shadow-ambient-big-shadow-opacity: 0.19;
@mdb-shadow-key-penumbra-opacity: 0.24;

// Navigation
@mdb-nav-border: @grey-300;
@mdb-nav-link-padding: 22px;
@mdb-nav-dropdown-bg: @grey-50;
@mdb-nav-dropdown-hover: @mine-black;
@mdb-nav-dropdown-hover-color: @white;

@caret-width-base: 5px;

// Chips
@smb-chip-height: 32px;
@smb-chip-margin: 10px;
@smb-chip-color: @black;
@smb-chip-bg-color: @gallery;
@smb-chip-color-close: @mine-black;
@smb-chip-icon-bg: @brand-primary;
@smb-chip-icon-color: @white;

//ProgressBar
@smb-progress-color: @brand-primary;
@smb-progress-bg: @concrete;


// Well
@smd-well-bg: @white;
@smd-well-padding: 24px;
@smd-well-sm-padding: 15px;
@smd-well-lg-padding: 30px;

// Modal
@smd-modal-bg:            @white;
@smd-modal-padding-horiz: 24px;
@smd-modal-backdrop-bg:   @grey-700;

@smd-modal-danger-bg:           @black;
@smd-modal-danger-color:        @white;
@smd-modal-danger-font-size:    20px;
@smd-modal-danger-line-height:  1.2; // 20px/24px
@smd-modal-danger-padding-vert: 12px;
@smd-modal-danger-title-color:  @black;

@smd-modal-header-color:               @brand-primary;
@smd-modal-header-padding-vert-top:    20px;
@smd-modal-header-padding-vert-bottom: 16px;
@smd-modal-header-font-size:           20px;
@smd-modal-header-line-height:         1.2; // 20px/24px
@smd-modal-header-close-color:         @mine-black;
@smd-modal-header-close-size:          24px;
@smd-modal-header-primary-bg:          @brand-primary;
@smd-modal-header-primary-color:       @white;
@smd-modal-header-primary-close-color: @white;

@smd-modal-subheader-bg:           @grey-A100;
@smd-modal-subheader-font-size:    16px;
@smd-modal-subheader-line-height:  1.5; // 16px/24px
@smd-modal-subheader-padding-vert: 16px;

@smd-modal-body-padding-vert: 24px;

@smd-modal-footer-padding:         16px;
@smd-modal-footer-buttons-margin:  8px;
@smd-modal-footer-stacked-padding: 8px;

// Panel
@smd-panel-padding-horiz: 24px;
@smd-panel-header-padding-vert: 13px;
@smd-panel-header-font-size: 16px;
@smd-panel-header-line-height: @line-height-base;
@smd-panel-body-padding-vert: 16px;
@smd-panel-footer-padding: 16px;
@smd-panel-palette-header-bg: @grey-300;
