.well {
  background: @smd-well-bg;
  border: 0;
  border-radius: 0;
  padding: @smd-well-padding;
  .shadow-z-2();

  &.panel {
    padding: 0;
  }

  &-sm {
    padding: @smd-well-sm-padding;
  }

  &-lg {
    padding: @smd-well-lg-padding;
  }

  & > h1,
  & > h2,
  & > h3,
  & > h4,
  & > h5,
  & > h6 {
    &:first-child {
      margin-top: 0;
    }
  }

  .variations(~"", ~"", background-color, @smd-well-bg);
}
