* {
  box-sizing: border-box;
}

.header-panel {
  background-color: #3dcd58;
  height: 90px;
  position: relative;
  z-index: 3;
}

.header-panel div {
  position: relative;
  height: 100%;
}

.header-panel h1 {
  color: #fff;
  /*font-size: 20px;*/
  /*font-weight: 400;*/
  position: absolute;
  bottom: 10px;
  padding-left: 35px;
}

.menu {
  overflow: auto;
  padding: 0;
}

.menu, .menu * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.menu ul {
  padding: 0;
  margin: 7px 0;
}

.menu ul li {
  list-style: none;
  padding: 20px 0 20px 50px;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
}

.menu ul li.active {
  background-color: #dedede;
  position: relative;
}

.menu ul li a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.pages {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  overflow: auto;
}

.pages > div {
  padding: 0 5px;
  padding-top: 90px;
}

.pages .header {
  color: #3dcd58;
}

.pages .header a {
  color: #1ca9dd;
}

.page {
  transform: translateY(1080px);
  transition: transform 0 linear;
  display: none;
  opacity: 0;
  font-size: 16px;
}

.page.active {
  transform: translateY(0px);
  transition: all 0.3s ease-out;
  display: block;
  opacity: 1;
}

.opensource {
  color: rgba(0, 0, 0, 0.62);
  position: fixed;
  margin-top: 50px;
  margin-left: 50px;
  z-index: 100;
}

#paypal .btn {
  padding: 5px 30px 6px 30px;
}

#paypal input {
  background: transparent;
  border: 0;
}

.cbwrapper div {
  display: none;
}

.cbwrapper div:nth-child(2) {
  display: block;
}

#carbonads, #fakecb {
  border: 1px solid #d5d5d5;
  font-size: 11px;
  line-height: 15px;
  overflow: hidden;
  width: 340px;
  padding: 20px;
  margin: auto;
  height: 142px;
  border-radius: 2px;
}

#carbonads .carbon-img {
  float: left;
  display: block;
}

#carbonads .carbon-text, #carbonads .carbon-poweredby {
  float: left;
  width: 150px;
  padding: 0 10px 10px 10px;
}

#carbonads .carbon-text:hover, #carbonads .carbon-poweredby:hover {
  text-decoration: none;
}

#carbonads .carbon-poweredby {
  color: #9d9d9d;
}

.component-wrapper {
  position: relative;
  z-index: 1;
}

.component-wrapper:after {
  content: '';
  display: block;
  clear: both;
}

#shadow .sample {
  width: 100px;
  height: 100px;
  margin: 16px;
  padding: 16px;
  display: inline-block;
}

#shadow-sample2 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 16px;
  padding: 16px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

#shadow-sample3 {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 16px;
  padding: 16px;
  border-radius: 100px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

body {
  background-color: #fff
}

#banner {
  border-bottom: none
}

.page-header h1 {
  font-size: 4em
}

.bs-docs-section {
  margin-top: 1em
}

.bs-component {
  position: relative
}

.bs-component:after {
  content: '';
  display: block;
  clear: both;
}

.bs-component .modal {
  position: relative;
  top: auto;
  right: auto;
  left: auto;
  bottom: auto;
  z-index: 1;
  display: block;
  padding: 0 0 20px;
}

.bs-component .modal.fade {
  opacity: 1;
}

.bs-component .modal.fade .modal-dialog {
  transform: translate(0, 0);
}

.bs-component .modal-dialog {
  margin: 20px;
  width: auto;
}

@media (min-width: 420px) {
  .bs-component .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    width: 355px;
  }

  .index-components .bs-component .modal-dialog {
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
  }
}

@media (min-width: 700px) {
  .index-components .bs-component .modal-dialog {
    margin-left: auto;
    margin-right: auto;
    width: 355px;
  }
}

.bs-component .modal-responsive .modal-dialog {
  width: auto;
  margin: 20px;
}

.bs-component .popover {
  position: relative;
  display: inline-block;
  width: 220px;
  margin: 20px;
}

#source-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  font-weight: bold;
  padding: 5px 10px;
}

.progress {
  margin-bottom: 10px
}

footer {
  margin: 5em 0
}

footer li {
  float: left;
  margin-right: 1.5em;
  margin-bottom: 1.5em
}

footer p {
  clear: left;
  margin-bottom: 0
}

.splash {
  padding: 4em 0 0;
  background-color: #141d27;
  color: #fff;
  text-align: center
}

.splash h1 {
  font-size: 4em
}

.splash #social {
  margin: 2em 0
}

.splash .alert {
  margin: 2em 0
}

.section-tout {
  padding: 4em 0 3em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #eaf1f1
}

.section-tout .fa {
  margin-right: .5em
}

.section-tout p {
  margin-bottom: 3em
}

.section-preview {
  padding: 4em 0 4em
}

.section-preview .preview {
  margin-bottom: 4em;
  background-color: #eaf1f1
}

.section-preview .preview .image {
  position: relative
}

.section-preview .preview .image:before {
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  pointer-events: none
}

.section-preview .preview .options {
  padding: 1em 2em 2em;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-top: none;
  text-align: center
}

.section-preview .preview .options p {
  margin-bottom: 2em
}

.section-preview .dropdown-menu {
  text-align: left
}

.section-preview .lead {
  margin-bottom: 2em
}

@media (max-width: 767px) {
  .section-preview .image img {
    width: 100%
  }
}

.sponsor {
  text-align: center
}

.sponsor a:hover {
  text-decoration: none
}

@media (max-width: 767px) {
  #banner {
    margin-bottom: 2em;
    text-align: center
  }
}

.infobox .btn-sup {
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 15px;
  line-height: 30px;
}

.infobox .btn-sup img {
  opacity: 0.5;
  height: 30px;
}

.infobox .btn-sup span {
  padding-left: 10px;
  position: relative;
  top: 2px;
}

.icons-material .row {
  margin-bottom: 20px;
}

.icons-material .col-xs-2 {
  text-align: center;
}

.icons-material i {
  font-size: 34pt;
}

.icon-preview {
  display: inline-block;
  padding: 10px;
  margin: 10px;
  background: #d5d5d5;
  border-radius: 3px;
  cursor: pointer;
}

.icon-preview span {
  display: none;
  position: absolute;
  background: black;
  color: #eee;
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 2px;
  z-index: 10;
}

.icon-preview:hover i {
  color: #4285f4;
}

.icon-preview:hover span {
  display: block;
  cursor: text;
}

p > code, th > code, td > code {
  white-space: nowrap;
}
